<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583477987371-k64dlvjd6fqcavr8agtpv12c2uv0krog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583477987371-k64dlvjd6fqcavr8agtpv12c2uv0krog</string>
	<key>API_KEY</key>
	<string>AIzaSyDFP53KtGtaDeT0Go651SkD9heO0W6MmvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>583477987371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medicalValley</string>
	<key>PROJECT_ID</key>
	<string>medicalvalley-4cc9e</string>
	<key>STORAGE_BUCKET</key>
	<string>medicalvalley-4cc9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583477987371:ios:38b4998783fe86ac5ec26e</string>
</dict>
</plist>